# =============== #
# Unity generated #
# =============== #
Temp/
Library/
Builds/
Bundles/

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
obj/
*.svd
*.userprefs
/*.csproj
*.pidb
*.suo
/*.sln
*.user
*.unityproj
*.booproj
output_log.txt
*.opendb
/.vs
.vscode/

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
data_run/
UnityVS.ShadowFight3.sln.DotSettings
/gamedata/
*.stackdump
Export/
Assets/UnityVS/
Assets/UnityVS.meta
.idea/

# proto generation
/SFSClasses/Protobuf/Precompile/Serializer.dll
/SFSClasses/Protobuf/ProtoGen/*.proto
/SFSClasses/Protobuf/ProtoGen/*.cs
/SFSClasses/SFSClasses/bin/Release/SFSClasses.dll
/SFSClasses/SFSClasses/bin/Release/SFSClasses.pdb
/SFSClasses/csharp/*

# gradle generated
Tools/AndroidPlugins/.gradle/
Tools/AndroidPlugins/app/build/

#
Log.txt 
MyLogFile.txt
EditorTools.json

Assets/ToolsSettingsData.asset
Assets/ToolsSettingsData.asset.meta

Assets/Test
Assets/Test.meta

dump/

*.orig
*.orig.meta
Assets/gamedata/Resources/GameSettings/Results/Split/*.meta
utils/GoogleSheetTool/ConsoleApplication1/ConsoleApplication1/bin/Debug
Assets/gamedata/Resources/Configs/archive_download.nekki_meta
Assets/gamedata/Resources/Configs/archive_download.nekki_meta.meta
Assets/gamedata/Resources/Configs/archive.bytes.meta
Tools/SpiderMonkeyJS/win/smglue/.vs/
Tools/SpiderMonkeyJS/win/smglue/x64/Release/
Tools/SpiderMonkeyJS/win/smglue/x64/Debug/
Tools/SpiderMonkeyJS/win/smglue/Debug/
Tools/SpiderMonkeyJS/win/smglue/x86/Debug/
Tools/SpiderMonkeyJS/win/smglue/x86/Release/
/EditedConfigsPath.json
RuntimeResults~
